$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$darkgrey: #E6E6E6;
$lightgrey: #D9D9D9;
$pink: #FF8282;
$darkpink: #D24899;

.catalog{
  display: grid;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    width: 87.5%;
    gap: 20px;
    height: 552px;
    margin-bottom: 27px;
    margin-top: 22px;

  }
  @media (min-width: $tablet-width) {
    width: 92.18%;
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    width: 84.72%;
    gap: 80px;
    margin-bottom: 45px;
  }

}

.catalog-item{
  position: relative;
  @media (max-width: $mobile-width-only) {
    height: 266px;
    background-color: $grey;
  }
  @media (min-width: $tablet-width) {
    background-color: $grey;
    padding: 77px 0 0 53px;
    position: relative;
  }
}

.catalog__picture{

  &--slim{
    position: absolute;

    @media (max-width: $mobile-width-only) {
      top: 21px;
      left: 22px;
    }

    @media (min-width: $tablet-width) {
      top: 81px;
      right: 62px;
      width:200px;
      height:211px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      left: 52px;
      width:100px;
      height:106px;
    }
  }

  &--pro{
    position: absolute;

    @media (max-width: $mobile-width-only) {
      top: 24px;
      left: 13px;
    }

    @media (min-width: $tablet-width) {
      top: 91px;
      right: 28px;
      width:268px;
      height:200px;
    }

    @media (min-width: $desktop-width) {
      top: 33px;
      left: 47px;
      width:134px;
      height:100px;
    }
  }
}


.catalog-item__title{
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 30px 0 29px 0;

  @media (max-width: $mobile-width-only) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    margin: 0;
  }
  @media (min-width: $desktop-width){
    justify-content: center;
  }
}

.catalog-item__title--pro{
  justify-content: center;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    margin: 30px 0 29px 0;
    padding-left: 45px;
  }

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    margin-left: 91px;
  }
}
.catalog-item__text{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: arial, sans-serif;
  width: 81.07%;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    box-shadow: 0 1px 0 0 #D9D9D9;
    height: 113px;
  }

  @media (min-width: $tablet-width) {
    width: 55.99%;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 48px 0;

  }

  @media (min-width: $desktop-width) {
    width: 32.43vw;
    max-width: 500px;
    font-size: 16px;
    line-height: 24px;
    margin: 73px 0 23px 0;

  }
}

.catalog-item__link{
  font-size: 16px;
  line-height: 16px;
  color: black;
  display: flex;
  width: 81.07%;
  margin: 0 auto;
  margin-top: 15px;
  align-items: center;
  position: relative;
  text-transform: uppercase;

  &:active{
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 0 53px 0;
    display: flex;
    height: 38px;

  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin: 0 0 59px 0;
    display: flex;

  }

  &::after{
    content: "";
    width: 32px;
    height: 10px;
    background-image: url(/../../img/src/catalog/icon_arrow.svg);
    z-index: 2;
    position: absolute;
    top: 3.5px;
    left: 125px;

    @media (min-width: $tablet-width) {
      top: 14px;

    }
  }
}
