.svg-catalog--cat_back1-dims {
    width: 50px;
    height: 53px;
}

.svg-catalog--cat_back2-dims {
    width: 67px;
    height: 50px;
}

.svg-catalog--icon_arrow-dims {
    width: 32px;
    height: 12px;
}

.svg-footer--html_academy_logo-dims {
    width: 27px;
    height: 34px;
}

.svg-footer--html_academy_text-dims {
    width: 113px;
    height: 16px;
}

.svg-footer--icon_facebook-dims {
    width: 28px;
    height: 33px;
}

.svg-footer--icon_instagram-dims {
    width: 23px;
    height: 23px;
}

.svg-footer--icon_vkontakte-dims {
    width: 30px;
    height: 22px;
}

.svg-footer--logo-dims {
    width: 128px;
    height: 24px;
}

.svg-header--logo-desktop-dims {
    width: 202px;
    height: 59px;
}

.svg-header--logo-mobile-dims {
    width: 34px;
    height: 38px;
}

.svg-header--logo-tablet-dims {
    width: 174px;
    height: 52px;
}

.svg-header--logo-text-dims {
    width: 101px;
    height: 18px;
}

.svg-header--mobile-menu-dims {
    width: 24px;
    height: 18px;
}

.svg-information--icon_alarm-dims {
    width: 32px;
    height: 33px;
}

.svg-information--icon_eat-dims {
    width: 25px;
    height: 30px;
}

.svg-information--icon_leaf-dims {
    width: 30px;
    height: 32px;
}

.svg-information--icon_tub-dims {
    width: 29px;
    height: 31px;
}
